body{
    font-family: 'Open Sans', sans-serif;
    color: #7B7B7B;
}

h1{
    font-weight: 600;
    font-size: 50;
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: solid 1px #7B7B7B;
}

h2{
    font-weight: 400;
    font-size: 50;
    color: #52BFB6;
    margin: 30px 60px 30px 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: solid 1px #52BFB6;
}

img{
    object-fit: cover;
    width: 200px;
    margin-left: 100px;

}

img.inverse{
    background-color: #52BFB6;
}

ul.Color{
    list-style-type: none;
    overflow: hidden;
    text-align: left;
    margin-left: 40px;
}

li.Color1{
    float: left;
    display: block;
    font-size: 20;
    font-weight: 600;
    padding: 15px 40px;
    margin: 0px 30px 10px 30px;
    border: solid 1px #7B7B7B;
    border-top: solid 150px #52BFB6;
}

li.Color2{
    float: left;
    display: block;
    font-size: 20;
    font-weight: 600;
    padding: 15px 40px;
    margin: 0px 30px 10px 30px;
    border: solid 1px #7B7B7B;
    border-top: solid 150px #3D8E88;
}

li.Color3{
    float: left;
    display: block;
    font-size: 20;
    font-weight: 600;
    padding: 15px 40px;
    margin: 0px 30px 10px 30px;
    border: solid 1px #7B7B7B;
    border-top: solid 150px #7B7B7B;
}

li.Color4{
    float: left;
    display: block;
    font-size: 20;
    font-weight: 600;
    padding: 15px 40px;
    margin: 0px 30px 10px 30px;
    border: solid 1px #7B7B7B;
    border-top: solid 150px #E4E4E4;
}

ul.Typo1{
    text-align: center;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}

li{
    font-size: 20pt;
    font-weight: 400;
    padding: 5px;
}

li.Title{
    text-decoration: underline;
    padding-bottom: 40px;
}

li.Title2{
    color:#FFFFFF;
    text-decoration: underline;
    padding-bottom: 40px;
}

ul.Typo2{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}

li.R{
    padding: 5px 50px;
}

li.Sb{
    padding: 5px 50px;
    font-weight: 600;
}

li.B{
    padding: 5px 50px;
    font-weight: 700;
}

li.Eb{
    padding: 5px 50px;
    font-weight: 800;
}

ul.Typo3{
    padding: 5px 50px;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}

li.pt50{
    padding: 5px 50px;
    font-size: 50pt;
}

li.pt40{
    padding: 5px 50px;
    font-size: 40pt;
}

li.pt30{
    padding: 5px 50px;
    font-size: 30pt;
}

li.pt25{
    padding: 5px 50px;
    font-size: 25pt;
}

li.pt20{
    padding: 5px 50px;
    font-size: 20pt;
}

li.pt18{
    padding: 5px 50px;
    font-size: 18pt;
}

li.pt15{
    padding: 5px 50px;
    font-size: 15pt;
}

li.pt12{
    padding: 5px 50px;
    font-size: 12pt;
}

ul{
    list-style-type: none; 
}

input{
    font-size: 12pt;
    padding: 10px 30px;
    border-radius: 5px;
    border: solid 1px #E4E4E4;
    color: #7B7B7B;
    margin: 0px 40px;
}

input.Focus{
    border: solid 1px #52BFB6;
}

input.Done{
    border: solid 1px #7B7B7B;
}

button{
    width: 200px;
    padding: 10px 0 10px 10px;
    text-align: left;
    font-size: 12pt;
    font-weight: 800;
}

ul.But{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}

ul.Nav{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    margin-bottom: 40px;
}

button.But11{
    background-color: #52BFB6;
    border: none;
    color: #FFFFFF;
}

button.But12{
    background-color: #3D8E88;
    border: none;
    color: #FFFFFF;
    box-shadow: 0 2px 3px #7B7B7B;
}

button.But13{
    background-image: radial-gradient(#63D9D0, #52BFB6) ;
    border: none;
    color: #FFFFFF;
}

button.But21{
    font-weight: 400;
    background-color: #FFFFFF;
    border: solid 1px #E4E4E4;
    color: #7B7B7B;
    border-radius: 1px;
}

button.But22{
    font-weight: 400;
    background-color: #FFFFFF;
    border: solid 1px #E4E4E4;
    color: #7B7B7B;
    border-radius: 1px;
    box-shadow: 0 2px 3px #7B7B7B;
}

button.But23{
    background-image: radial-gradient(#FFFFFF, #E4E4E4) ;
    font-weight: 400;
    border: solid 1px #E4E4E4;
    color: #7B7B7B;
    border-radius: 1px;
}

button.But31{
    font-weight: 400;
    background-color: #52BFB6;
    border: none;
    color: #FFFFFF;
}

button.But32{
    font-weight: 400;
    background-color: #52BFB6;
    border: none;
    color: #FFFFFF;
    text-shadow: 0 2px 3px #7B7B7B;
}

button.But33{
    font-weight: 400;
    background-color: #52BFB6;
    border: none;
    color: #E4E4E4;
}

button.But41{
    background-color: #FFFFFF;
    border: none;
    color: #52BFB6;
}

button.But42{
    background-color: #FFFFFF;
    border: none;
    color: #52BFB6;
    text-shadow: 0 2px 3px #7B7B7B;
}

button.But43{
    background-color: #FFFFFF;
    border: none;
    color: #3D8E88;
}

button.Nav11{
    background-color: #3D8E88;
    border: none;
    color: #FFFFFF;
}

button.Nav12{
    background-color: #FFFFFF;
    border: none;
    color: #3D8E88;
    box-shadow: 0 2px 3px #7B7B7B;
}

button.Nav13{
    background-image: radial-gradient(#FFFFFF, #E4E4E4) ;
    border: none;
    color: #3D8E88;
}

button.Nav21{
    background-color: #FFFFFF;
    border: solid 1px #E4E4E4;
    color: #3D8E88;
}

button.Nav22{
    background-color: #3D8E88;
    border: none;
    color: #FFFFFF;
    box-shadow: 0 2px 3px #7B7B7B;
}

button.Nav23{
    background-image: radial-gradient(#48A79F, #3D8E88) ;
    border: none;
    color: #FFFFFF;
}

button.Nav31{
    background-color: #7B7B7B;
    border: none;
    color: #FFFFFF;
}

button.Nav32{
    background-color: #FFFFFF;
    border: none;
    color: #7B7B7B;
    box-shadow: 0 2px 3px #7B7B7B;
}

button.Nav33{
    background-image: radial-gradient(#FFFFFF, #E4E4E4) ;
    border: none;
    color: #7B7B7B;